@import "_reset";
//змінна в Scss
$dark-pink: #6b084f;


html,
body {
    font-family: sans-serif;
    background-color: #6394ef;
}

.container{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.todo__container {
    width: 80%;
    height: 60%;
    background-color: #0b1174;
    border-radius: 10vh;
    color: #fff;
    text-align: center;
    padding: 50px;
    font-size: 64px;
    font-weight: 600;
    letter-spacing: 0.02em;
}


.todo-input {
    font-size: 0.5em;
    display: flex;
    justify-content: space-between;
    margin: 20px 0 20px 0;
}

.todo-input input{
    color: rgb(53, 53, 53);
    width: 100%;
    
}
.todo-button {
    font-size: 0.5em;
    background-color: rgb(178, 27, 27);
    padding: 8px;
}

li{
    font-size: 0.5em;
}

.todo-list-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.todo-list-item button {
    background-color: yellow;
    padding: 8px;
    border-radius: 5px;
    color: rgb(53, 53, 53);;
}



 * {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

ul {
    margin: 50px auto;
    width: 700px;
}

a {
    cursor: pointer;
}

.main-title {
    text-align: center;
    padding: 50px;
}

.posts-list {
}
.posts-list-item {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100px;
    margin-bottom: 50px;
    padding: 20px 50px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
}
.post {
    &-index {
        position: absolute;
        top: -20px;
        left: -20px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        border-radius: 100%;
        background-color: lightgreen;
        }
    &-title{}
    &-text {
        text-overflow: ellipsis;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: normal;
        white-space: normal;
        }
}
.post-title {
}
.post-text {
    
}
.post-link {
    text-align: center;
    color: cornflowerblue;
} 
